html {
	background: #42B983;
}
.main {
	font-family: "Source Sans Pro","Helvetica Neue",Arial,sans-serif;
}
input[type=submit] {
	background-color:#4FC08D;
	border-radius: 4px;
	font-family: "Roboto Mono", monospace;
	border: 0;
	font-weight: bold;
	border-bottom : 2px solid #3AA373;
	color: #fff;
}
input[type=submit]:hover {
	background-color: 2px solid #5dc596;
	transform: translate(0, -2px);
}

.head_links, p.head_links a, p.head_links a:hover, h2 a, h2 a:hover {
	color : #fff;
}

a {
	text-decoration: none;
	color : #42B983;
}
a:hover {
	color: #42B983;
	border-bottom: 2px solid #42B983;
}