html {
	background: #19b6ff;
}

body {
	font-family: Garamond;
	margin: 0 auto;
	max-width: 900px;
	padding-top:10px;
}

p {
	line-height:22px;
}

a, a:hover {
	text-decoration: none;
	color: #0096ff;
	font-weight: bold;
}

a:hover {
	color: #4ec7ff;
}


.main {
	background: #fefefe;
	border-radius: 4px;
	margin: 16px 0;
	border: 1px solid #eee;
	padding: 18px 18px 6px;
	box-shadow: 2px 2px 2px 2px #777;
}

.comment {
	padding-left:15px;
	border-left:2px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-bottom:2px;
}



textarea {
	width:100%;
}

p.comment_count {
	font-size: 12px;
	font-style: italic;
}