body {
	font-family: Garamond;
	margin: 0 auto;
	max-width: 900px;
}

h2 {
	font-weight:bold;
	font-size:28px;
	padding: 24px 0 0;
}
p {
	line-height:22px;
}

.head_links {
	float:right;
	padding-top:26px;
}

.main {
	background: #fefefe;
	border-radius: 4px;
	margin: 16px 0;
	border: 1px solid #eee;
	padding: 18px 18px 6px;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,.4);
}

.children {
	padding-left:15px;
	border-left:2px solid #ccc;
}
.comment
{
	padding-bottom:4px;
}

.reply {
	border-top:1px solid #ccc;
	padding: 4px 0;
}

textarea {
	width:99%;
}

p.comment_count {
	font-size: 12px;
	font-style: italic;
}

input[type=submit] {
	padding: 11px 40px;
	margin-top:4px;
	cursor: pointer;
}
