html {
	background: #002a41;
}

body {
	font-family: Garamond;
	margin: 0 auto;
	max-width: 900px;
	padding-top:10px;
}

h2 {
	font-weight:bold;
	font-size:28px;
	margin: 18px 0;
}
p {
	line-height:22px;
}

a, a:hover {
	text-decoration: none;
	color: #0071b5;
	font-weight: bold;
}

a:hover {
	color: #00a2ff;
}

.head_links {
	float:right;
	margin-top:18px;
}

.main {
	background: #fefefe;
	border-radius: 4px;
	margin: 16px 0;
	border: 1px solid #eee;
	padding: 18px 18px 6px;
	box-shadow: 2px 2px 2px 2px #777;
}

.children {
	padding-left:15px;
	border-left:2px solid #ccc;
	/*border-bottom: 1px solid #ccc;*/
}
.comment
{
	padding-bottom:4px;
}

.reply {
	border-top:1px solid #ccc;
	padding: 4px 0;
}

textarea {
	width:99%;
}

p.comment_count {
	font-size: 12px;
	font-style: italic;
}

input[type=submit] {
	background: #0071b5;
	border:0;
	cursor: pointer;
	padding: 11px 40px;
	color: #fff;
	font-weight: bold;
	margin-top:4px;
}

input[type=submit]:hover {
	background: #00a2ff;
}