html {
	background: #002a41;
}

a, a:hover {
	text-decoration: none;
	color: #0071b5;
	font-weight: bold;
}
a:hover {
	color: #00a2ff;
}
input[type=submit] {
	background: #0071b5;
	border:0;
	color: #fff;
}

input[type=submit]:hover {
	background: #00a2ff;
}