html {
	background: #fff;
}
my-app {
	display: block;
}

a {
	color : #aa5af0;
	font-weight: normal;
	text-decoration: none;
}
a:hover {
	color: #b464fa;
	font-weight: normal;
	text-decoration: underline;
}
input[type=submit] {
  display: block;
  width: 120px;
  height: 32px;
  vertical-align: middle;
	color: #fff;
	background-color: #aa5af0;
  font-size: 0.9em;
  text-align: center;
  line-height: 32px;
	border : none;
  border-radius: 2px;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

input[type=submit]:hover {
  background-color: #b464fa;
}
